.blogs {
    padding-top: calc(var(--main-padding-top) + 80px);
    background-image: url(../../../assets/images/blog_padge.png);

    .container {
        display: grid;
        grid-template-columns: 1fr .3fr;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;

        .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .part {
                width: 100%;
                background-color: var(--white-color-2);
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                box-shadow: var(--main-shadow);

                .sub_title {
                    margin-bottom: 24px;
                }
            }
        }

        .col.col_larage {
            gap: 40px;

            .blog {
                .main_title {
                    margin-bottom: 24px;
                }

                .image {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    max-height: 300px;
                    margin-bottom: 32px;

                    img {
                        width: 100%;
                    }
                }

                .sub_title {
                    margin-bottom: 24px;
                }
            }

            .attachments {
                .group_attachments {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 8px;
                    border-left: 6px solid var(--offwhite-color);
                    padding-left: 16px;

                    .attachment {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 4px;
                    }
                }
            }
        }

        .col.col_small {
            gap: 24px;

            .blog_info {
                .row {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    font-size: 14px;
                    color: var(--gray-color-1);

                    span {
                        color: var(--offwhite-color);
                    }
                }
            }

            .share {
                .social {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;
                    margin-bottom: 8px;

                    img {
                        width: 32px;
                    }
                }
            }

            .related_blogs {
                .group_related_blogs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 16px;

                    .related_blog {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 8px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }

                        .image {
                            width: 64px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            height: 40px;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    .blogs {
        .container {
            grid-template-columns: 1fr;
        }
    }
}