<div class="blogs session session_bg">
    <div class="container">
        <div class="col_larage col">
            <div class="blog part">
                <div class="main_title">{{title}}</div>
                <div class="image">
                    <img [src]="image" alt="">
                </div>
                <div class="sub_title">{{subTitle}}</div>
                <div class="paragraph">{{description}}</div>
            </div>
            <div class="attachments part">
                <div class="sub_title">
                    Attachments
                </div>
                <div class="group_attachments">
                    <div class="attachment" *ngFor="let attach of attachments;index as i;">
                        <div class="paragraph">{{i+1}} - </div>
                        <a [href]="attach.link" class="main_link">{{attach.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col_small col">
            <div class="blog_info part">
                <div class="sub_title">Blog Info</div>
                <div class="row">
                    <mat-icon>date_range</mat-icon>
                    {{date}}
                </div>
                <div class="row">
                    <mat-icon>update</mat-icon>
                    <span>Update</span> {{upDate}}
                </div>
            </div>
            <div class="share part">
                <div class="sub_title">Share Blog Via</div>
                <ul class="social">
                    <li>
                        <a href=""><img src="assets/images/social/icons8-facebook.svg" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="assets/images/social/icons8-instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="assets/images/social/icons8-linkedin.svg" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="assets/images/social/icons8-telegram-app.svg" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="assets/images/social/icons8-twitter.svg" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="assets/images/social/icons8-whatsapp.svg" alt=""></a>
                    </li>
                    <li>
                        <a href=""><img src="assets/images/social/icons8-youtube.svg" alt=""></a>
                    </li>
                </ul>
            </div>
            <div class="related_blogs part">
                <div class="sub_title">Related Blogs</div>
                <div class="group_related_blogs">
                    <a class="related_blog" *ngFor="let related_blog of relatedBlogs;">
                        <div class="image">
                            <img [src]="related_blog.image" alt="">
                        </div>
                        <div class="paragraph">{{related_blog.title | shortText:12}}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>