.about {
    padding-top: calc(var(--main-padding-top) + 40px);
    background-image: url(../../../../../assets/images/bg_about.png);

    .container {
        display: grid;
        grid-template-columns: 1.1fr .9fr;
        align-items: flex-start;
        gap: 90px;

        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 24px;
        }

        .frame {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
        }

        .image {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 300px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .information {
            margin-right: 55px;
            transform: translateY(-50%);
            z-index: 2;
            background-color: var(--main-color);
            color: var(--bg-color);
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            font-family: "Playfair Display", sans-serif;
            padding: 8px 16px;

            span {
                font-size: 32px;
                font-weight: bold;
                font-family: "Cairo", sans-serif;
            }
        }
    }
}

@media(max-width:768px) {
    .about {
        .container {
            grid-template-columns: 1fr;
            gap: 48px;
        }
    }
}