.add_project {
    .part {
        .form {
            grid-template-columns: 1fr 1fr 2fr;
            .col {
                * {
                    width: 100%;
                }
                textarea {
                    height: 350px;
                }
            }
            .form_btn {
                grid-column: 1/4;
                text-align: center;
            }
        }
    }
}