<div class="add_project">
  <div class="part">
    <div class="main_title">Add Projects</div>
    <form [formGroup]="formProject" class="form">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Your Title</mat-label>
          <input formControlName="title" matInput required />
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Sub Title</mat-label>
          <input formControlName="subTitle" matInput required />
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input formControlName="startDate" required matStartDate placeholder="Start date">
            <input formControlName="endDate" required matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Update</mat-label>
          <input formControlName="update" matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Demo URL</mat-label>
          <input formControlName="demoLink" matInput type="url" required>
          <mat-error>required</mat-error>
        </mat-form-field>
      </div>
      <!-- formControlName="clientName" -->
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>client Name</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of filteredclients | async" [value]="client.id">
              {{client.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Related Projects</mat-label>
          <mat-select formControlName="relatedProjectdId" [formControl]="relatedProjectsForm" multiple>
            <mat-option *ngFor="let project of projects" [value]="project.id">{{project.title}}</mat-option>
          </mat-select>
          <mat-error>required</mat-error>
        </mat-form-field>
        <div class="drag_drop" #projDrop>
          <label for="proj_image">
            <span>Uplaod Image</span>
            <div class="image">
              <img src="" #proj_image>
            </div>
          </label>
          <input (change)="selectImage($event)" type="file" id="proj_image" accept="image/*">
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Cost</mat-label>
          <input formControlName="cost" matInput type="number" required>
          <mat-error>required</mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Project Paragraph</mat-label>
          <textarea formControlName="description" matInput></textarea>
          <mat-error>required</mat-error>
        </mat-form-field>
        <mat-checkbox formControlName="active" class="example-margin">Active</mat-checkbox>
      </div>
      <button class="form_btn main_btn" [disabled]="formProject.invalid" (click)="upload()">Uplaod</button>
    </form>
  </div>
</div>