<div class="edit_statistics">
    <div class="con">
        <div class="part table_statistic">
            <div class="main_title">All Statistics</div>
            <div class="table">
                <div class="row head">
                    <div class="col">Icon</div>
                    <div class="col">Statistic</div>
                    <div class="col">Num</div>
                    <div class="col"></div>
                </div>
                <div class="row" *ngFor="let stat of statistics;index as i;">
                    <div class="col">
                        <div class="image">
                            <img [src]="stat.icon" alt="">
                        </div>
                    </div>
                    <div class="col">{{stat.name}}</div>
                    <div class="col">{{stat.num}}</div>
                    <div class="col">
                        <div class="col_btns">
                            <button class="main_btn update" (click)="updateStat(i)">Update</button>
                            <button class="main_btn delete" (click)="deleteStat(i)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="part">
            <div class="main_title">Add Stat...</div>
            <form [formGroup]="formStats" class="form">
                <div class="col">
                    <mat-form-field appearance="fill">
                        <mat-label>Statistic</mat-label>
                        <input formControlName="name" matInput required />
                        <mat-error>required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Number</mat-label>
                        <input formControlName="num" matInput type="number" required />
                        <mat-error>required</mat-error>
                    </mat-form-field>
                    <div class="drag_drop" #statDrop>
                        <label for="stat_icon">
                            <span>Uplaod Icon</span>
                            <div class="image">
                                <img src="" #icon_stat>
                            </div>
                        </label>
                        <input (change)="selectIcon($event)" type="file" id="stat_icon" accept="image/*">
                    </div>
                    <button [disabled]="formStats.invalid" class="main_btn" (click)="upload()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>