.edit_statistics {

    .con{
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        .table_statistic {
            .row { 
                grid-template-columns: 100px 1fr .5fr .75fr;
                .col {
                    .image {
                        width: calc(100% - 16px);
                        padding: 8px;
                        background-color: var(--gray-color-1);
                    }
                }
                .col_btns {
                    grid-template-columns: repeat(2,1fr);
                    gap: 16px;
                }
            }
        }
        .form {
            grid-template-columns: 1fr;
    
            .col {
                height: 100%;
                * {
                    width: 100%;
                }
    
                textarea {
                    height: 40px;
                }
    
                .custom-dropzone {
                    height: 150px;
                }
                .main_btn {
                    text-align: center;
                }
            }
    
        }
    }
}