<div class="projects session session_bg">
    <div class="container">
        <div class="col col_larage">
            <div class="project part">
                <div class="main_title">{{name}}</div>
                <div class="image">
                    <img [src]="image" alt="">
                </div>
                <div class="company">
                    <img [src]="client.image" alt="">
                    <span>{{client.name}}</span>
                </div>
                <a [href]="demoLink" class="main_link">
                    Demo
                </a>
                <div class="sub_title">{{subTitle}}</div>
                <div class="paragraph">{{description}}</div>
            </div>
            <div class="portfolio part">
                <div class="main_title">My Portfolio</div>
                <div class="group_projs">
                    <div class="proj" *ngFor="let reProj of relatedProjects;">
                        <div class="image">
                            <img [src]="reProj.image" alt="">
                        </div>
                        <div class="sub_title">{{reProj.title}}</div>
                        <div class="links">
                            <a routerLink="./projects" class="main_btn">Read More</a>
                            <a [href]="reProj.demo" class="main_link">Demo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col_small">
            <div class="project_info part">
                <div class="sub_title">Project Info</div>
                <div class="row">
                    <mat-icon>date_range</mat-icon>
                    {{date}}
                </div>
                <div class="row">
                    <mat-icon>update</mat-icon>
                    <span>Update</span> {{upDate}}
                </div>
            </div>
        </div>
    </div>
</div>