.blogs {
    background-image: url(../../../../../assets/images/blogs.png);

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        >.con {
            display: grid;
            grid-template-columns: 1.1fr .9fr;
            align-items: flex-start;
            gap: 90px;

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 24px;

                .main_title {
                    color: var(--bg-color);
                }

                .paragraph {
                    color: var(--offwhite-color);
                }
            }

            .sildes-blog {
                width: 100%;
                overflow: hidden;

                .blog {
                    cursor: pointer;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    background-color: var(--bg-color);

                    .image {
                        height: 264px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: var(--white-color-2);
                        overflow: hidden;
                        position: relative;

                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translateX(-100%);
                            width: 50%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, .5);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: .3s;

                            .icon_link {
                                position: relative;
                                color: var(--bg-color);
                                border: 1px solid var(--bg-color);
                                border-radius: 50%;
                                height: 50px;
                                width: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: .3s;

                                mat-icon {
                                    height: 32px;
                                    width: 32px;
                                    font-size: 32px;
                                    font-weight: 100;
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    bottom: -10px;
                                    left: 0;
                                    width: 0px;
                                    height: 1px;
                                    background-color: var(--bg-color);
                                    transition: .3s;
                                }

                                &:hover::before {
                                    width: 50px;
                                }
                            }
                        }

                        img {
                            width: 100%;
                            min-height: 100%;
                        }
                    }

                    &:hover .overlay {
                        transform: translateX(0%) !important;
                    }

                    .date {
                        position: absolute;
                        top: 8px;
                        right: 16px;
                        background-color: var(--main-color);
                        color: var(--bg-color);
                        padding: 8px 16px;
                        font-size: 20px;
                        font-weight: bold;
                        z-index: 2;
                    }

                    .sub_title {
                        padding: 16px 12px 24px;
                        color: var(--main-color);
                    }
                }
            }
        }

        .angles {
            position: absolute;
            bottom: calc(-88px - 40px);
            left: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .angle {
                cursor: pointer;
                height: 40px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--bg-color);
                position: relative;


                .swiper_angle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    overflow: hidden;
                }

                mat-icon {
                    height: 32px;
                    width: 32px;
                    font-size: 32px;
                    font-weight: 100;
                }
            }

            .angle:first-of-type {
                background-color: var(--offwhite-color);
            }

            .angle:last-of-type {
                margin-left: 24px;
                background-color: var(--main-color);
            }
        }
    }
}

@media(max-width:1200px) {
    .blogs {

        .container {


            >.con {
                gap: 80px;

                .info {
                    gap: 16px;
                }
            }

            .angles {
                bottom: calc(-88px - 32px);
                left: 12px;

                .angle {
                    height: 32px;
                    width: 64px;

                    mat-icon {
                        height: 24px;
                        width: 24px;
                        font-size: 24px;
                    }
                }

                .angle:last-of-type {
                    margin-left: 16px;
                }
            }
        }
    }
}

@media (max-width:992px) {
    .blogs {

        .container {


            >.con {
                gap: 48px;


            }
        }
    }
}

@media(max-width:768px) {
    .blogs {

        .container {

            >.con {
                gap: 48px;
                grid-template-columns: 1fr;
            }
        }
    }
}