<div class="dashboard session_bg">
    <mat-sidenav-container>
        <mat-sidenav opened mode="side">
            <div class="logo">Abdalrhman</div>
            <ul class="links">
                <li>
                    <a class="nav_link">
                        <div class="icon">
                            <img src="assets/icons/home_black_24dp.svg" alt="">
                        </div>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a class="nav_link" routerLink="./statistics">
                        <div class="icon">
                            <img src="assets/icons/trending_up_black_24dp.svg" alt="">
                        </div>
                        <span>Statistics</span>
                    </a>
                </li>
                <li>
                    <a [matMenuTriggerFor]="blogsMenu" class="nav_link">
                        <div class="icon">
                            <img src="assets/icons/sticky_note_2_black_24dp.svg" alt="">
                        </div>
                        <span>Blogs</span>
                    </a>
                    <mat-menu #blogsMenu xPosition="before" yPosition="below">
                        <ul class="links">
                            <li>
                                <button routerLink="./blogs" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>All Blogs</span>
                                </button>
                            </li>
                            <li>
                                <button routerLink="./blogs/add_blogs" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>Add Blog</span>
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </li>
                <li>
                    <a [matMenuTriggerFor]="projectsMenu" class="nav_link">
                        <div class="icon">
                            <img src="assets/icons/dashboard_black_24dp.svg" alt="">
                        </div>
                        <span>Projects</span>
                    </a>
                    <mat-menu #projectsMenu xPosition="before" yPosition="below">
                        <ul class="links">
                            <li>
                                <button routerLink="./projects" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>All Projects</span>
                                </button>
                            </li>
                            <li>
                                <button routerLink="./projects/add_projects" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>Add Project</span>
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </li>
                <li>
                    <a [matMenuTriggerFor]="clientsMenu" class="nav_link">
                        <div class="icon">
                            <img src="assets/icons/icons8-people-48.png" alt="">
                        </div>
                        <span>Clients</span>
                    </a>
                    <mat-menu #clientsMenu xPosition="before" yPosition="below">
                        <ul class="links">
                            <li>
                                <button routerLink="./clients" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>All Clients</span>
                                </button>
                            </li>
                            <li>
                                <button routerLink="./clients/add_clients" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>Add Client</span>
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </li>
                <li>
                    <a class="nav_link act" [matMenuTriggerFor]="editMenu">
                        <div class="icon">
                            <img src="assets/icons/icons8-edit.svg" alt="">
                        </div>
                        <span>Edit</span>
                    </a>
                    <mat-menu #editMenu xPosition="before" yPosition="below">
                        <ul class="links">
                            <li>
                                <button routerLink="./edit" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>Infoarmation</span>
                                </button>
                            </li>
                            <li>
                                <button routerLink="./edit/about" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>About me</span>
                                </button>
                            </li>
                            <li>
                                <button routerLink="./edit/skills" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>Skills</span>
                                </button>
                            </li>
                            <li>
                                <button routerLink="./edit/experience" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>Experience</span>
                                </button>
                            </li>
                            <li>
                                <button routerLink="./edit/statistics" class="nav_link" mat-menu-item>
                                    <div class="icon">
                                        <img src="assets/icons/icons8-settings.svg" alt="">
                                    </div>
                                    <span>Statistics</span>
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </li>
            </ul>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>