.login {
    height: 100%;
    width: 100%;
    background-image: url(../../../assets/images/bg_experience.png);
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;

        .frame {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            width: 100%;

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 180px;
                width: 180px;
                background-color: var(--main-color);
                box-shadow: var(--main-shadow);
                z-index: 2;
            }

            &::before {
                top: 0;
                left: 0;
            }

            &::after {
                bottom: 0;
                right: 0;
            }

            .con {
                width: calc(100% - 64px);
                height: calc(100% - 64px);
                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: var(--bg-color);
                box-shadow: var(--main-shadow);
                z-index: 3;

                .image {
                    background-image: url(../../../assets/images/bg.png);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .logo {
                        color: var(--bg-color);
                    }
                }

                .form {
                    padding: 32px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    .group_fields {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap:24px;
                        width: 100%;
                        mat-form-field {
                            width: 100%;
                        }
                    }
                    .main_btn {
                        width: 100%;
                        font-size: 24px;
                        text-align: center;
                    }
                }
            }
        }
    }
}