<div class="login session_bg">
    <div class="container">
        <div class="frame">
            <div class="con">
                <div class="image session_bg">
                    <div class="logo">Abdalrhman</div>
                </div>
                <form [formGroup]="loginForm" class="form">
                    <div class="main_title">Login</div>
                    <div class="group_fields">
                        <mat-form-field appearance="fill">
                            <mat-label>Your Name</mat-label>
                            <input matInput formControlName="name" required />
                            <mat-error>required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Your Password</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                            <mat-error>required</mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <a (click)="login()" class="main_btn">Login</a>
                </form>
            </div>
        </div>
    </div>
</div>