<div class="contact session session_bg" id="Contact">
    <div class="container">
        <div class="info">
            <div class="main_title">Contact me</div>
            <div class="logo">{{myName}}</div>
            <div class="sub_title">{{myFullName}}</div>
            <div class="sub_title job">{{myJob}}</div>
            <ul class="social">
                <li *ngFor="let social of my_social;">
                    <a [href]="social.link"><img [src]="social.icon" alt=""/></a>
                </li>
            </ul>
            <div class="paragraph">
                My personal contact<br>
                +20 0101 960 9406
            </div>
        </div>
        <div class="form">
            <div class="frame">
                <form>
                    <mat-form-field appearance="fill">
                        <mat-label>Your Name</mat-label>
                        <input matInput required/>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Your Email</mat-label>
                        <input matInput required/>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Your Message</mat-label>
                        <textarea matInput required></textarea>
                    </mat-form-field>
                    <a href="" class="main_btn">Submit</a>
                </form>
            </div>
        </div>
    </div>
</div>