.landing {
    background-image: url(../../../../../assets/images/bg.png);
    height: 704px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        >.con {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;

            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                .main_title {
                    margin-bottom: 24px;
                    color: var(--bg-color);
                }

                .sub_title {
                    margin-bottom: 16px;
                    color: var(--main-color);
                }
            }

            .slide {
                // position: relative;
                height: 100%;
                width: 100%;

                .con {
                    position: absolute;
                    bottom: -40px;
                    right: 24px;
                }

                .frame {
                    position: relative;
                    width: 363px;
                    height: 557px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -24px;
                        left: -24px;
                        background-color: var(--main-color);
                        height: 215px;
                        width: 215px;
                        z-index: -2;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -24px;
                        right: -24px;
                        background-color: var(--main-color);
                        height: 215px;
                        width: 215px;
                        z-index: -2;
                    }

                    .image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        background-color: var(--white-color-2);
                        width: 100%;
                        height: 100%;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: calc(100% - 16px);
                            height: calc(100% - 16px);
                            overflow: hidden;
                        }

                        img {
                            height: 100%;
                        }
                    }

                    .information {
                        position: absolute;
                        bottom: 132px;
                        left: 0;
                        transform: translateX(-50%);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        background-color: #fff;
                        padding: 4px 16px;

                        .name {
                            color: var(--main-color);
                            font-size: 24px;
                            font-weight: bold;
                        }

                        .lvl {
                            color: var(--black-color-1);
                            font-size: 18px;
                            font-weight: 500;
                        }
                    }
                }

            }
        }

        .angles {
            position: absolute;
            bottom: -40px;
            left: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .angle {
                cursor: pointer;
                height: 40px;
                width: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--bg-color);

                mat-icon {
                    height: 32px;
                    width: 32px;
                    font-size: 32px;
                    font-weight: 100;
                }
            }

            .angle:first-of-type {
                background-color: var(--offwhite-color);
            }

            .angle:last-of-type {
                margin-left: 24px;
                background-color: var(--main-color);
            }
        }
    }
}

@media (max-width:1200px) {
    .landing {
        height: 604px;

        .container {

            >.con {

                .info {

                    .main_title {
                        margin-bottom: 16px;
                    }

                    .sub_title {
                        margin-bottom: 8px;
                    }
                }

                .slide {

                    .con {
                        bottom: -32px;
                        right: 16px;
                    }

                    .frame {
                        width: 300px;
                        height: 450px;

                        &::before {
                            top: -16px;
                            left: -16px;
                            height: 170px;
                            width: 170px;
                        }

                        &::after {
                            bottom: -16px;
                            right: -16px;
                            height: 170px;
                            width: 170px;
                        }

                        .image {
                            div {
                                width: calc(100% - 16px);
                                height: calc(100% - 16px);
                            }
                        }

                        .information {
                            bottom: 100px;
                            gap: 0px;
                            padding: 4px 12px;

                            .name {
                                font-size: 20px;
                            }

                            .lvl {
                                font-size: 16px;
                            }
                        }
                    }

                }
            }

            .angles {
                bottom: -32px;
                left: 12px;

                .angle {
                    height: 32px;
                    width: 64px;

                    mat-icon {
                        height: 24px;
                        width: 24px;
                        font-size: 24px;
                    }
                }

                .angle:last-of-type {
                    margin-left: 24px;
                }
            }
        }
    }
}


@media (max-width:992px) {
    .landing {
        height: 504px;

        .container {

            >.con {

                .slide {

                    .frame {
                        width: 250px;
                        height: 400px;




                    }

                }
            }
        }
    }
}

@media(max-width:768px) {
    .landing {
        height: 504px;

        .container {

            >.con {

                .slide {
                    .con {
                        right: 39px;
                    }

                    .frame {
                        width: 200px;
                        height: 300px;

                        .information {
                            bottom: 50px;
                            padding: 4px 12px;

                            .name {
                                font-size: 16px;
                            }

                            .lvl {
                                font-size: 14px;
                            }
                        }
                    }

                }

            }
        }
    }
}


@media(max-width:500px) {
        .landing {
        height: 704px;
    }
}

