<div class="portfolio session session_bg" id="Portfolio">
    <div class="container">
        <div class="main_title">My Portfolio</div>
        <div class="group_projs">
            <div *ngFor="let proj of myProjs" class="proj">
                <div class="image">
                    <img [src]="proj.image" alt="">
                </div>
                <div class="sub_title">{{proj.title}}</div>
                <div class="links">
                    <a routerLink="./projects" class="main_btn">Read More</a>
                    <a [href]="proj.demo" class="main_link">Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>