<div class="all_clients">

    <div class="search part">
        <div class="form">
            <mat-form-field appearance="fill">
                <mat-label>Search</mat-label>
                <input #titSearch matInput required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Total Coast</mat-label>
                <input #coastSearch matInput type="number" required />
            </mat-form-field>
            <button (click)="search()" class="main_btn">Search</button>
        </div>
    </div>

    <div class="part table_client">
        <div class="main_title">All Clients</div>
        <div class="table">
            <div class="row head">
                <div class="col">logo</div>
                <div class="col">Name</div>
                <div class="col">Total</div>
                <div class="col">num_proj</div>
                <div class="col">Client</div>
                <div class="col">Nationality</div>
                <div class="col"></div>
            </div>
            <div class="row" *ngFor="let client of clients;index as i;">
                <div class="col">
                    <div class="image">
                        <img [src]="client.image" alt="">
                    </div>
                </div>
                <div class="col">{{client.name | shortText:11 }}</div>
                <div class="col">{{client.totalCoast}}</div>
                <div class="col">{{client.projectsNum}}</div>
                <div class="col">{{client.whoClient}}</div>
                <div class="col">{{client.nationality}}</div>
                <div class="col">
                    <div class="col_btns">
                        <button (click)="update(i)" class="main_btn update">Update</button>
                        <button class="main_btn delete" (click)="deleteClient(i)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <div class="arrows">
            <div class="main_btn arrow last">
                <div class="icon">
                    <img src="assets/icons/arrow_right_alt_black_24dp.svg" alt="">
                </div><span>last</span>
            </div>
            <div class="main_btn arrow next">
                <div class="icon">
                    <img src="assets/icons/arrow_right_alt_black_24dp.svg" alt="">
                </div>
                <span>next</span>
            </div>
        </div>
    </div>
</div>